@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700;800;900&family=Vazirmatn:wght@400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html[lang="fa"], html[dir="rtl"],
html[lang="fa"] body, html[dir="rtl"] body {
    font-family: 'Vazirmatn', sans-serif !important;
}

html[dir="rtl"] body :not([dir="ltr"]):not([dir="ltr"] *):not(:lang(en)):not(.font-english):not(.font-english *) {
    font-family: 'Vazirmatn', sans-serif !important;
}

:lang(en), [dir="ltr"], .font-english {
    font-family: 'Roboto', sans-serif !important;
}
